<!DOCTYPE html>
<!---link faz o CSS
//script faz o javascript-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
        
        <nav th:replace="layout :: menu">(menu)</nav>
        <main class="container">

            <h1>Cliente</h1>
            <a class="btn btn-primary">Novo Cliente</a>
            <table class="table">
                <thead>
                    <th>Modelo</th>
                    <th>Observação</th>
                    <th></th>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        
        </main>
        <div th:include="layout :: footer">(footer)</div>
        <script th:scr="@{/scriptproduto.js}"></script>
    </body>
</html>